body{
  font-family: 'Cantarell', sans-serif; 

}
.navbar{
  background-color: #f4a460;   
}
.auth{
  background-color: rgb(96,244,238);
  border-radius: 15px;
  margin-right: 0.4%;
}
.nav-link{
  color: black;
}
#navbarClick img{
width: 50px;
}
#navbarClick{
  font-size: 2rem;
  font-weight: bold;
}
.pets-title{      
  margin-bottom: 1%;
  background-color:#f4a460;
}
#pets-title{
  border-radius: 25px;
  padding: 2%;  

}
.newpet-title{
  font-weight: bold;
  margin-top: 2%;  
}
.profile-section,.prof-update,.registration,.login,.adopting{
  margin-top: 4%;
}
.reg-title{
  margin-left: 26%;
  margin-right: 26%;
  font-weight: bold;  
}
.registration,.login{
  background-color: rgb(244,164,96);
}
.pet-video{
  margin-top: -1%;
  margin-bottom:3%;
  margin-left: 3%;
  margin-right:3%;
}
.about-desc{
  border-bottom: 1px dotted #f4a460;
}
#pets{
  font-size: 1.3em;
}
#basicExampleNav{
  margin-left: 200px;
  color: black;
}
h6{
  color:white;
}
h5{
  color:black;
}
h1{
  text-align: center;
  margin-left: 35%;
}
img{
  background-blend-mode: soft-light;
}
.para{
  color:black;
}
.carousel-caption{
  margin-top: 0%;
  background-color: rgba(244,164,96,0.5);
  border-radius: 30px;
  padding: 1%;
  color: black;
}
.navbar-collapse{
  color: black; 
}
@media only screen and (max-width:800px){
  .carousel-caption{
    background-color: transparent;
  }
}
.pet-photo{
  border-bottom: 2px dotted  #f4a460;
  margin-bottom: 3%;  
}
.your-pet{
  padding: 1%;
}
#image1{
  width:20%;
  height:30%;
  float:right;
}
#title{
  font-size:3.0em;
  text-align:center;
}
#general{
  background-color:#f4a460;
  text-align: center;
  font-size: 5.0em;
}
.btn{
  background-color: rgb(96,244,238);
  color: black;
}  


/* .card-image{
  background-image: url('../static/images/paka2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
