body{
  font-family: 'Patrick Hand', cursive;
  /* font-family: 'Cantarell', sans-serif; */
}
#pad{
  padding: 2%;
}
.navbar{
  background-color: #20b2aa;
  color: #b26120;
}
.nav-link{
  color: #b26120;
}