body{
  font-family: 'Cantarell', sans-serif; 

}
.navbar{
  background-color: #f4a460;
  color: black;  
}
.nav-link{
  color: black;
}
#navbarClick img{
width: 50px;
}
.pets-title{
  margin-left: 30%;
  margin-right: 30%;
  background-color:rgb(244,164,96);
  border-radius: 25px;
  margin-bottom: 1%;
}
.pet-video{
  margin-top: -1%;
  margin-bottom:3%;
  margin-left: 3%;
  margin-right:3%;
}
.about-us{
  background-color: rgb(96,244,238);
}
.about-desc{
  border-bottom: 1px dotted #f4a460;
}
#pets{
  font-size: 1.3em;
}
#basicExampleNav{
  margin-left: 200px;
}
h6{
  color:white;
}
h5{
  color:black;
}
h1{
  text-align: center;
  margin-left: 35%;
}
img{
  background-blend-mode: soft-light;
}
.para{
  color:black;
}
.carousel-caption{
  margin-top: 0%;
  background-color: rgba(96,244,238,0.5);
  border-radius: 30px;
  padding: 1%;
}
/* .card-image{
  background-image: url('../static/images/paka2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */