{% extends 'base.html' %}

{% block styles%}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock%}
{% block content %}

<div class="container-fluid home">

    <!--/.Navbar-->
    <div class="row overlay1">
        <div id="cori">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>


                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 img-fluid"
                            src="/static/images/dog-cat.jpeg"
                            alt="First slide" height="650px">
                        <div class="carousel-caption d-md-block">
                            <div class="captions">
                                <h2> No one appreciate the very special genius of your conversation as much as the Pet does...</h2>
                                <p> No matter how little money and how few possesions you own,having Pet makes you feel
                                    rich..... </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid"
                            src="/static/images/dog2.jpeg"
                            alt="Second slide" height="650px">
                        <div class="carousel-caption  d-md-block">
                            <div class="captions">
                                <h2>You know ,a Pet can snap you out of any kind of bad mood that you're in faster than you can think of....</h2>
                                <p>The world would be a nicer place if everyone had the ability to love as
                                    unconditionally as a PET!!!!!</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid"
                            src="/static/images/fam.jpeg"
                            alt="Third slide" height="650px">
                        <div class="carousel-caption  d-md-block">
                            <div class="captions">
                                <h2>Are you ready to meet your next best furry friend?</h2>
                                <p>These lovely dogs have a long life expectancy in comparison with other dog breeds, a healthy and well cared</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid"
                            src="/static/images/hamsters.jpeg"
                            alt="Fourth slide" height="650px">
                        <div class="carousel-caption  d-md-block">
                            <div class="captions">
                                <h2>A pet is the only thing on earth that loves you more than anything</h2>
                                <p>It is amazing how much love and laughter they bring into our lives and even how much closer we become with each other because of them</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid"
                            src="/static/images/white.jpeg"
                            alt="Fifth slide" height="650px">
                        <div class="carousel-caption  d-md-block">
                            <div class="captions">
                                <h2>My little Pet - a heartbeat at my feet</h2>
                                <p>The bond with a true Dog is as lasting as the ties of this earth will ever be.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid"
                            src="/static/images/vet.jpeg"
                            alt="Fifth slide" height="650px">
                        <div class="carousel-caption d-md-block">
                            <div class="captions">
                                <h2>If you pick up a starving dog and make him prosperous he will not bite you.This is the principal difference between a dog and man.</h2>
                                <p>If dogs could talk, perharps we would find it as hard to get along with them as we do with people....</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <div class="sr-only" id="prev">Previous</div>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"
                    id="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <div class="sr-only" id="prev">Next</div>
                </a>
            </div>

        </div>
        
    </div>
    <div class="row pet-video">
    <div class="col-md-6 embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bzZEH_5OuIs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
    </div>  
    <div class="col-md-6 about-us" id="about">
        <div class="about-desc">
            <h2> About Us </h2>
            <p>We let those pet lovers connect to people willing to give away the excess or pets they can longer care for. We are nature lovers, and one thing we were blessed with is loving pets to keep us company and brighten our day!<br>
                For those who have pet and need some more advice and tips to care for them, we connect you to Pet-Care homes and certified veterinaries.
            </p>
        </div>
        <div>
            <h2> Fun facts about pets! </h2>
            <ul>
                <li>Make the best of friends. They're loyal</li>
                <li>They become familiar with you and very protective. Somehow like your watch-guard</li>
                <li>94% of pet owners say their animal pal makes them smile more than once a day.</li>
                <li>Cats have over one hundred vocal sounds, while dogs have about ten!</li>
                <li>A dog’s sense of smell is 1000 times greater than a human!</li>
                <li>Cat whiskers are so sensitive they can detect the slightest change in air current.</li>
            </ul>
        </div>          

    </div>      
    </div>

    <div class="home">
        <div class="row pets-title">
            <h1 id="pets-title">Pets Available</h1>
        </div>
        <div class="row" id="pets">
            
            <div class="col-md-3">
                <div class="zoom card card-image" style="background: url(static/images/paka1.jpeg)no-repeat center center;background-size: cover">

                    <div class="text-white text-center d-flex align-items-center rgba(96,244,238,0.5)-strong py-5 px-4">
                        <div>                            
                            <h5 class="black-text"><i class="fas fa-chart-pie"></i> Pet Adoption</h5>
                            <h3 class="card-title pt-2"><strong>{{pet.name}}</strong></h3>
                            <p class="para">Pets are humanizing.They remind us we have an obligation and responsibility to preserveand nurture.</p>
                            <a href="/message/pets" id="petsClick" class="btn"><i class="fas fa-clone left"></i> Get A Pet</a>                           
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-3">
                <div class=" zoom card card-image" style="background: url(static/images/paka2.jpeg) no-repeat center center;background-size: cover">
                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba(96,102,244,0.5)-strong py-5 px-4">
                        <div>
                            <h5 class="black-text"><i class="fas fa-chart-pie"></i> Pet Adoption</h5>
                            <h3 class="card-title pt-2"><strong>Pets</strong></h3>
                            <p class="para">We must vote for hope,vote for life,vote for a brighter future for all of our loved ones.
                            </p>
                            <a href="/message/pets" id="addpets" class="btn"><i class="fas fa-clone left"></i> Get A Pet</a>
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-md-3">
                <div id="card4" class=" zoom card card-image" style="background: url(static/images/dog3.jpeg)no-repeat center center;background-size: cover;" >
                    <div class="text-white text-center d-flex align-items-center rgba(96,102,244,0.5)-strong py-5 px-4">
                        <div>
                            <h5 class="black-text"><i class="fas fa-chart-pie"></i> Pet Adoption</h5>
                            <h3 class="card-title pt-2"><strong>Pets</strong></h3>
                            <p class="para">Lighten up,just enjoy life,smile more,and don't get so worked up about
                                things.</p>
                            <a href="/message/pets" id="addpets" class="btn"><i class="fas fa-clone left"></i>Get A Pet</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">

                <div class=" zoom card card-image" style="background: url(static/images/panya4.jpeg)no-repeat center center;background-size: cover;">
                    <div class="text-white text-center d-flex align-items-center rgba(96,244,238,0.5)-strong py-5 px-4">
                        <div>
                            <h5 class="black-text"><i class="fas fa-chart-pie"></i> Pet Adoption</h5>
                            <h3 class="card-title pt-2"><strong>Pets</strong></h3>
                            <p class="para">We must vote for hope,vote for life,vote for a brighter future for all of our loved ones.
                            </p>
                            <a href="/message/pets" id="veterinary" class="btn"><i class="fas fa-clone left"></i> Get A Pet</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        
    </div>
    
</div>
    {% include 'footer.html' %}
{%endblock%}