{% extends 'base.html' %}

{% block styles%}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock%}

 {% block content %}

  <div class="container-fluid" >
  <div class="jumbotron text-center" id="general">
      <h1>General Petcare Information</h1>
  </div>
  </div>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5cca83532846b90c57ac6f5c/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <div class="container">

    
  <h3 id="title">Are You Allergic to Your Pet?</h3>
  <div>
      <img src="/static/images/pet1.png" alt="pet" id="image1" >
      <h4>Are You Allergic to Your Pet? Breathe Easy—You Can Still Keep Your Animal Companion!</h4>
      
      <p>Although many people have discovered the beneficial effects of caring for a furry friend, the fact remains that roughly 15 to 20% of the population is allergic to animals. The result? Countless pet parents in unhappy, unhealthy situations—and their beloved pets are the cause! Allergen is the medical term for the actual substance that causes an allergic reaction. Touching or inhaling allergens leads to reactions in allergic individuals. Symptoms can include red, itchy, watery eyes and nose; sneezing; coughing; scratchy or sore throat; itchy skin, and most serious of all, difficulty breathing.
      
        The most common pet allergens are proteins found in their dander (scales of old skin that are constantly shed by an animal), saliva, urine and sebaceous cells. Any animal can trigger an allergic response, but cats are the most common culprits. People can also become allergic to exotic pets such as ferrets, guinea pigs, birds, rabbits and rodents. There is no species or breed to which humans cannot develop allergies. Fur length and type will not affect or prevent allergies. Certain pets can be less irritating than others to those who suffer from allergies, but that is strictly on an individual basis and cannot be predicted.
        
        Once the diagnosis of a pet allergy is made, a physician will often recommend eliminating the companion animal from the surroundings. Heartbreaking? Yes. Absolutely necessary? Not always. Keep in mind that most people are allergic to several things besides pets, such as dust mites, molds and pollens, all of which can be found in the home. Allergic symptoms result from the total cumulative allergen load. That means that if you eliminate some of the other allergens, you may not have to get rid of your pet. (Conversely, should you decide to remove your pet from your home, this may not immediately solve your problems.) You must also be prepared to invest the time and effort needed to decontaminate your home environment, limit future exposure to allergens and find a physician who will work with you. 
      </p>
  </div>
  
  <h1>Tips for you </h1>
  <h3>Obligations to care for your animal</h3>
  <p>As the person in charge, you are required to provide the following:</p>
  <ul>
    <li>Proper and sufficient food and water</li>
    <li>Adequate shelter</li>
    <li>The opportunity to display normal patterns of behavior</li>
    <li>Protection from and rapid diagnosis of any significant injury or distress</li>
    <li>Adequate exercise</li>
  </ul>
  
  <h3>Identification for your pet</h3>
  <p>Dogs should wear a collar so should they escape, it will be known they have a caring owner. Yearly dog licenses from the City Council need to be obtained.</p>
  
  <h3>Introduction to the property</h3>
  <p>When you get your dog home for the first time walk it around the property on a lead several times.</p>
  
  <h3>Introducing a new pet to an existing pet</h3>
  
  <h4>TWO RULES</h4>
  <ul>
    <li>Play it cool</li>
    <li>Patience is essential</li>
  
    </ul>
    <p>Spend a lot of time with the introductions. Your presence reassures your original pets and enables you to supervise the animals. Don’t leave them alone until you are confident that they are comfortable with each other.</p>
    <p>Be patient, it could take a day or many weeks for the animals to get acquainted. Dogs and cats live in a “pecking order”. That’s what this acquaintance period is for. There may be a few scuffles; growling and hissing is perfectly normal. Don’t worry unless the fighting appears to be serious and does not diminish over time.
      </p>
  
      <h1>Cate & Kitten Care</h1>
      <img src="/static/images/catowner.png" alt="" id="image1">
  
      <h3>Your new cat</h3>
      <p>We recommend you keep your new cat inside for seven to ten days with a litter tray. This is so that your house will become his or her new territory.
  
      </p>
      <p>Kittens should be kept inside for ten to fourteen days with a litter tray. This is so they can adjust to their new environment and increase in weight.</p>
  
      <h3>Obligations to care for your animals </h3>
      <p>As the person in charge, you need to provide the following:</p>
      <ul>
        <li>Proper and sufficient food and water </li>
        <li>Adequate shelter</li>
        <li>Protection from and rapid diagnosis of any significant injury or distress</li>
      </ul>
  
      <h3>Identification of your pet </h3>
      <p>It is a good idea for your new cat to wear a collar so if they get lost it will be known they have an owner.</p>
  
      <h3>Introducing a new pet to an existing pet</h3>
      <p>The first introduction should take place when you have 2-3 days off. Your presence reassures your original pets and enables you to supervise the animals. Don’t leave them alone until you are confident that they are comfortable with each other.</p>
      <p>Be patient, it could take a day or many weeks for the animals to get aquatinted. Cats and dogs live in a “pecking order”. That’s what this acquaintance period is for. There may be a few scuffles; growling and hissing is perfectly normal. Don’t worry unless the fighting appears to be serious and does not diminish over time</p>
  
  
      <h3>Resident cat meets new cat</h3>
      <p>Introducing two kittens to each other or a kitten to an older cat is easy, but adult cats are every bit as territorial as dogs and the introduction of a new adult of the same size, sex or temperament can be a delicate diplomatic matter.
  
      </p>
      <p>To aid the peace process:</p>
      <ul>
        <li>Place the carrier containing your new cat in a quiet corner or end room of the house and keep the carrier closed for the first hour or so. Then open the carrier. Put a litter box and bowls of water and food nearby and change the food, water and litter daily. Ask everyone, especially children, to keep things quiet and low-key at first.</li>
        <li>Keep the new cat in its room for a few days before leaving the door open. The newcomer and resident cats can adjust to each other’s smells before meeting face to face and the new cat will start out with its own little piece of territory. Don’t be surprised if the new cat stays in its room or under a bed for several days. Adult cats need to feel confident before they delve into new territory from the safety of the carrier and room. The new cat can explore with confidence and can retreat there if any disagreement with the resident cat should arise.</li>
        <li>Some cats crave attention after being confined, but others just want to be left alone. Give the cat a choice. Try to make friends by holding treats out to it, but do not insist. Instead, let the cat approach you – and explore the rest of the house – at its own pace. And before giving the new cat the run of the house, be sure that windows are blocked off with screens and that doors to the outside, basement etc are shut. Block off spaces behind appliances too.</li>
      </ul>
  
      <h3>Nutrition</h3>
      <p>What you feed will have an effect on the way your cat feels, his energy levels, the way he grows and his overall health so it is very important he is fed correctly.</p>
  
      <h4>General rules for feeding cats & kittens:</h4>
      <ul>
        <li>ALWAYS have fresh, clean water available.
        </li>
  
      </ul>
    </div>
<style>

h1,h2,h3{
  font-weight: bold;
  text-align: center;
  background-color:rgb(244,164,96);
  margin-left: 0%;
}    
</style>
 {% include 'footer.html' %}
  {% endblock %} 
 
